*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.App{
    height: 1080px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 43, 43);
}